@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>vänster</h2>
    </div>
    <div class="col-md-3">
        <h2>mitten</h2>
    </div>
    <div class="col-md-3">
        <h2>höger</h2>
    </div>
    <div class="col-md-3">
        <h2>Ännu mera höger</h2>
    </div>
</div>
